<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    
    
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            
            <th>Product</th>
            <th>Available</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td>
              [src]='product.imageUrl'
              [title]='product.productName'
              [style.width.px]='imageWidth'
              [style.margin.px]='imageMargin'>
            </td>
            <td>{{ product.productName }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</td>
            <td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
